/_linux
/inspection
/bower_components
/colors.scheme.xml
/editor.codeinsight.xml
/databaseSettings.xml
/editor.xml
/other.xml
/jdk.table.xml
/ide.general.xml
/IntelliLang.xml
/diff.xml
/packages.xml
/project.default.xml
/web-browsers.xml
/github_settings.xml
/databaseDrivers.xml
/conda_packages.xml
/filetypes.xml
/debugger.xml
/ui.lnf.xml
